<div class="cuerpo">
    <div class="general">
        <div class="contenedorPrincipal">
            <div class="bloqueCentral">
                <div class="bloqueGrabar">
                    <div class="record"></div>
                    <div class="title">Iniciar grabación</div>
                </div>
                <div class="bloqueGrabado">
                    <div class="titleRecord">Texto que se va a traducir:</div>
                    <div class="box1">                        
                        <div class="recordedText"></div>
                    </div>
                </div>
                <div class="bloqueSeleccion">                  
                    <div class="botones">
                        <select class="dropDown">
                            <option>Español</option>
                            <option>Inglés</option>
                            <option>Francés</option>
                            <option>Alemán</option>
                            <option>Japonés</option>
                        </select>
                        <button type="input" class="traducir">Traducir</button>
                    </div>
                </div>
                <div class="bloqueTraducido">
                    <div class="titleTranslated">Texto traducido:</div>
                    <div class="box2">
                        <div class="translatedText" data-text="Texto traducido"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

