<div class="vista">
    <div class="logo">
        <img src="../../../assets/img/logo.png">
        <div class="info">
            <div class="esp">
                Con esta app puedes pasar todo lo que hables a texto, pulsando un unico boton!
                A que estas esperando?
    
    
            Esta app ha sido desarrollada en conjunto por :
            <br>
            
            <div class="foot">
                <a href="https://www.linkedin.com/in/alvaro-sanchez-haro-dev/">Álvaro Sánchez-Haro</a>
                <br>
                <a href="https://www.linkedin.com/in/jorge-holgado-torres/">Jorge Holgado</a>
            </div>
            </div>
            <div class="eng">
                Con esta app puedes pasar todo lo que hables a texto, pulsando un unico boton!
                A que estas esperando?
    
    
            Esta app ha sido desarrollada en conjunto por :
            
            <br>
            <div class="foot">
                <a href="https://www.linkedin.com/in/alvaro-sanchez-haro-dev/">Álvaro Sánchez-Haro</a>
                <br>
                <a href="https://www.linkedin.com/in/jorge-holgado-torres/">Jorge Holgado</a>
            </div>
            </div>
        </div>
        
    </div>
    <div class="trad">
        <app-translator></app-translator>
    </div>
</div>